e2eAudit/src/main/app/e2eAudit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <data-mapper:config name="JSON_To_List_Map_" transformationGraphPath="json_to_list_map_.grf" doc:name="JSON_To_List_Map_"/>
    <flow name="e2eAuditFlow1" doc:name="e2eAuditFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8088" path="sendJson" doc:name="HTTP"/>
        <set-payload value="[{&quot;SYSTEM_ID&quot;:&quot;2000&quot;,&quot;INTERFACE_ID&quot;:&quot;ID080&quot;,&quot;JOB_ID&quot;:&quot;260&quot;}]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <data-mapper:transform config-ref="JSON_To_List_Map_" doc:name="JSON To List&lt;Map&gt;"/>
        <db:insert config-ref="DevDbConfiguration" doc:name="Database" bulkMode="true">
            <db:parameterized-query><![CDATA[INSERT INTO EAI_AUDIT(SYSTEM_ID,INTERFACE_ID,JOB_ID) VALUES (#[payload['SYSTEM_ID']],#[payload['INTERFACE_ID']],#[payload['JOB_ID']])]]></db:parameterized-query>
        </db:insert>
    </flow>
</mule>
